<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM TO TRAIN YOUR FITNESS AND MIND </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-
    Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy
    ="no-referrer" />
    <link rel="stylesheet"href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <header class="header1">
        <nav>
             <div class="logo">
                <h1><i class="fa-solid fa-dumbbell"></i><span>GYM</span></h1>
                </div>
             <ul>
                <li><a href="{{ url_for('home')}}">Home</a></li>
                <li><a href="{{ url_for('membership')}}">Membership</a></li>
                <li><a href="{{ url_for('about')}}">About Us</a></li>
             </ul>
        </nav>
        <div class="header-container">
            <h1><span class="border-bottom">NO PAIN</span><span class="text-primary"> NO  GAIN </span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam unde vitae quaerat deserunt harum, nihil vol  </p>
           <center> <button class="btn btn-primary"><i class="fas fa-phone-square"></i> Call Now</button></center>
        </div
     </header>   
</body>
</html>
